*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    background-color:#03251a;
    
}
.footer_inner{
    width: 1170px;
    margin: 0 auto;
}
.nav{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.count{
    font-size: 75px;
    color:#863f05;
    font-weight: bold;
}
.text{
    margin-top: 15px;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    color:white;
}